{% extends 'base.html' %}
{% load static %}
{% block base %}
    <!----header end----->
    <div class="page_header_default style_one ">
        <div class="parallax_cover">
            <div class="simpleParallax"><img src="{% static 'assets/images/page-header-default.jpg' %}" alt="bg_image"
                                             class="cover-parallax"></div>
        </div>
        <div class="page_header_content">
            <div class="auto-container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="banner_title_inner">
                            <div class="title_page">
                                دوره
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="breadcrumbs creote">
                            <ul class="breadcrumb m-auto">
                                <li><a href="{% url 'blog:home' %}">خانه</a></li>
                                <li class="active"> دوره آموزشی</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!----header----->
    <!----page-CONTENT----->
    <div id="content" class="site-content ">
        <!---faq--->
        <section class="faqs-section">
            <!--===============spacing==============-->
            <div class="pd_top_90"></div>
            <!--===============spacing==============-->
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="title_all_box style_one text-center dark_color">
                            <div class="title_sections">
                                <div class="before_title"> سوالات مفید</div>
                                <h2>سوال و پاسخ</h2>
                                <p>سؤالات متداول ما را برای پاسخ سریع به سؤالات متداول که دریافت می کنیم بررسی کنیاگر
                                    سوالات
                                    دیگری دارید بنویسید.</p>
                            </div>
                            <!--===============spacing==============-->
                            <div class="pd_top_15"></div>
                            <!--===============spacing==============-->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="faq_section type_two">
                            <div class="block_faq">
                                <div class="accordion">
                                    <dl>
                                        <dt class="faq_header active">
                                            چه خدمات استخدامی ارائه می دهید؟<span class="icon-play"></span>
                                        </dt>
                                        <dd class="accordion-content hide" style="display:block;">
                                            <p>Serenity یک اکوسیستم مبتنی بر بلاکچین چند وجهی است ، خرده فروش انرژی برای
                                                مردم ، با تمرکز بر ارتقاء زندگی پایدار ، تولید انرژی تجدید پذیر و خدمات
                                                خدمات شبکه انرژی هوشمند.</p>
                                        </dd>
                                        <dt class="faq_header ">
                                            برای چه بخش ها یا صنایعی استخدام می کنید؟<span class="icon-play"></span>
                                        </dt>
                                        <dd class="accordion-content hide">
                                            <p>Serenity یک اکوسیستم مبتنی بر بلاکچین چند وجهی است ، خرده فروش انرژی برای
                                                مردم ، با تمرکز بر ارتقاء زندگی پایدار ، تولید انرژی تجدید پذیر و خدمات
                                                خدمات شبکه انرژی هوشمند.</p>
                                        </dd>
                                        <dt class="faq_header ">
                                            چگونه می توانم شغل ثبت کنم؟<span class="icon-play"></span>
                                        </dt>
                                        <dd class="accordion-content hide">
                                            <p>Serenity یک اکوسیستم مبتنی بر بلاکچین چند وجهی است ، خرده فروش انرژی برای
                                                مردم ، با تمرکز بر ارتقاء زندگی پایدار ، تولید انرژی تجدید پذیر و خدمات
                                                خدمات شبکه انرژی هوشمند.</p>
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <section class="faq_section type_two">
                            <div class="block_faq">
                                <div class="accordion">
                                    <dl>
                                        <dt class="faq_header active">
                                            برای چه بخش ها یا صنایعی استخدام می کنید؟<span class="icon-play"></span>
                                        </dt>
                                        <dd class="accordion-content hide" style="display:block;">
                                            <p>کور شده توسط میل ، که آنها نمی توانند پیش بینی مشکل است که به دنبال ؛ و
                                                سرزنش
                                                برابر متعلق به کسانی که در وظیفه خود شکست که همان است که از طریق کوچک
                                                شدن می
                                                گویند. و باز هم کسی نیست که دوست داشته باشد یا دنبال کند یا بخواهد درد
                                                را
                                                بدست آورد خود درد است اما شرایط عالی است</p>
                                        </dd>
                                        <dt class="faq_header">چه خدمات استخدامی ارائه می دهید؟<span
                                                class="icon-play"></span>
                                        </dt>
                                        <dd class="accordion-content hide">
                                            <p>Serenity یک اکوسیستم مبتنی بر بلاکچین چند وجهی است ، خرده فروش انرژی برای
                                                مردم ، با تمرکز بر ارتقاء زندگی پایدار ، تولید انرژی تجدید پذیر و خدمات
                                                خدمات شبکه انرژی هوشمند.</p>
                                        </dd>
                                        <dt class="faq_header">کجا آگهی استخدام من را می دهید؟<span
                                                class="icon-play"></span>
                                        </dt>
                                        <dd class="accordion-content hide">
                                            <p>Serenity یک اکوسیستم مبتنی بر بلاکچین چند وجهی است ، خرده فروش انرژی برای
                                                مردم ، با تمرکز بر ارتقاء زندگی پایدار ، تولید انرژی تجدید پذیر و خدمات
                                                خدمات شبکه انرژی هوشمند.</p>
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <!--===============spacing==============-->
            <div class="pd_bottom_60"></div>
            <!--===============spacing==============-->
        </section>
        <!---faqs--->
        <section class="call-to-action mr_bottom_minus_140">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="call_to_action style_two">
                            <div class="image">
                                <img src="{% static 'assets/images/call-to-pric-bg-1.jpg' %}" class="img-fluid" alt="تصویر">
                            </div>
                            <div class="auto-container">
                                <div class="row">
                                    <div class="col-lg-8">
                                        <div class="left_content">
                                            <div class="main_content">
                                                <h1>اطلاعات بیشتری در مورد قیمت گذاری های ما کسب کنید</h1>
                                                <div class="bottom_content">
                                                    <div class="call_content">
                                                        <span class="icon-phone-call1 icon"></span>
                                                        <div class="content_bx">
                                                            <h2>در ارتباط باشید</h2>
                                                            <p> ایمیل: sendmail@qetus.com و موبایل: +98 060 712 34 </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="image_right">
                                            <img src="{% static 'assets/images/cal-img.png' %}" alt="تصویر">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="service-section bg_light_1">
            <!--===============spacing==============-->
            <div class="pd_top_230"></div>
            <!--===============spacing==============-->

            <!--===============spacing==============-->
            <div class="pd_bottom_90"></div>
            <!--===============spacing==============-->
        </section>
        <section class="client-brand">
            <!--===============spacing==============-->
            <div class="pd_top_90"></div>
            <!--===============spacing==============-->

            <!--===============spacing==============-->
            <div class="pd_bottom_90"></div>
            <!--===============spacing==============-->
        </section>
        <!---newsteller--->
{% endblock %}