{% load static %}
<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'assets/home/style.css' %}">
</head>
<body style="direction: rtl; text-align: right;">
<header>
    <nav>
        <a href="">تماس با ما</a>
    </nav>
</header>

<!-- carousel -->
<div class="carousel">
    <!-- list item -->
    <div class="list">
        <div class="item">
            <img src="{% static 'assets/images/new/novininst.jpg' %}">
            <div class="content" style="padding-right: 1%;">
                <div class="title">آموزشگاه نوین الکترونیک</div>
                <div class="topic">20سال سابقه تعمیرات وآموزش</div>

                <div class="buttons">
                    <button>شروع</button>

                </div>
            </div>
        </div>
        <div class="item">
            <img src="{% static 'assets/images/new/novinpartimg.jpg' %}">
            <div class="content" style="padding-right: 1%;">

                <div class="title">فروشگاه نوین پارت</div>
                <div class="topic"> معتبر ترین فروشگاه قطعات الکترونیکی و ابزار</div>
                <div class="buttons">
                    <button>SEE MORE</button>

                </div>
            </div>
        </div>
        <div class="item">
            <img src="{% static 'assets/images/new/thetechnovalimg.jpg' %}">
            <div class="content" style="padding-right: 1%;">
                <div class="title">تکنوال</div>
                <div class="topic">مرجع تخصصی تکنولوژی و راهنمای خرید</div>

                <div class="buttons">
                    <button>SEE MORE</button>

                </div>
            </div>
        </div>
        <div class="item">
            <img src="{% static 'assets/images/new/novinfiximg.jpg' %}">
            <div class="content" style="padding-right: 1%;">
                <div class="title">نوین فیکس:</div>
                <div class="topic">تعمیرات موبایل و گجت در محل</div>

                <div class="buttons">
                    <button>SEE MORE</button>

                </div>
            </div>
        </div>
    </div>
    <!-- list thumnail -->
    <div class="thumbnail">
        <div class="item">
            <img src="{% static 'assets/images/new/novininst.jpg' %}">
            <div class="content">
                <div class="title">
                    آموزشگاه
                </div>
                <div class="description">
                    نوین الکترونیک
                </div>
            </div>
        </div>
        <div class="item">
            <img src="{% static 'assets/images/new/novinpartimg.jpg' %}">
            <div class="content">
                <div class="title">
                    فروشگاه
                </div>
                <div class="description">
                    نوین پارت
                </div>
            </div>
        </div>
        <div class="item">
            <img src="{% static 'assets/images/new/thetechnovalimg.jpg' %}">
            <div class="content">
                <div class="title">
                    تکنوال
                </div>
                <div class="description">
                    مرجع تخصصی تکنولوژی
                </div>
            </div>
        </div>
        <div class="item">
            <img src="{% static 'assets/images/new/novinfiximg.jpg' %}">
            <div class="content">
                <div class="title">
                    نوین فیکس
                </div>
                <div class="description">
                    تعمیرات درب محل
                </div>
            </div>
        </div>
    </div>
    <!-- next prev -->

    <div class="arrows">
        <button id="prev"><</button>
        <button id="next">></button>
    </div>
    <!-- time running -->
    <div class="time"></div>
</div>

<script src="{% static 'assets/home/app.js' %}"></script>
</body>
</html>