{% extends 'base.html' %}
{% load static %}
{% block base %}
    <!----header end----->
    <!--===============PAGE CONTENT==============-->
    <!--===============PAGE CONTENT==============-->
    <div id="content" class="site-content">
        <!---slider-->
        <section class="slider style_four nav_position_one">
            <div class="owl-carousel owl_nav_block owl_dots_none theme_carousel owl-theme"
                 data-options='{"loop": true, "margin": 0, "autoheight":true, "lazyload":true, "nav": true, "dots": true, "autoplay": true, "autoplayTimeout": 7000, "smartSpeed": 1800, "responsive":{ "0" :{ "items": "1" }, "768" :{ "items" : "1" } , "1000":{ "items" : "1" }}}'>

                {% for i in images %}
                    <div class="slide-item-content">
                        <div class="slide-item content_left">
                            <a href="{% url 'shop:home' %}" class="image-layer"
                               style="background-image:url({{ i.image.url }})">
                            </a>
                            <div class="auto-container">
                                <div class="row">
                                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                        <div class="slider_content pd_top_180 pd_bottom_200">
                                            <h1 class="animate_left"><b> {{ i.text2 }} </b>
                                                <br>{{ i.text3 }}</h1>
                                            <p class="description animate_right">{{ i.text4 }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
        <!---slider-end--->
        <!---درباره ما-->
        <section class="about_us_section" id="about">

            <div class="container pd_zero">
                <div class="row">
                    <div class="col-xl-6 col-lg-12">
                        <div class="title_all_box style_one dark_color">
                            <div class="title_sections left">
                                <div class="before_title">#نوین_پیشرو_در_آموزش</div>
                                <h2>برای رشد شما برنامه داریم!</h2>
                                <p>موسسه آموزشی نوین الکترونیک برگزار کننده دوره های متنوع آموزشی به صورت حضوری و غیر
                                    حضوری</p>
                            </div>
                        </div>
                        <!--===============spacing==============-->
                        <div class="pd_bottom_20"></div>
                        <!--===============spacing==============-->
                        <div class="process_box style_one dark_color">
                            <div class="process_box_outer">
                                <div class="icon">
                                    <span class=" icon-line-chart"></span>
                                    <div class="number"> 01</div>
                                </div>
                                <div class="content_box">
                                    <h2>
                                        <a href="index.html#" target="_blank" rel="nofollow">ورود به بازارکار</a>
                                    </h2>
                                    <p>
                                        با مهارتی که دوست دارید
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="process_box style_one dark_color">
                            <div class="process_box_outer">
                                <div class="icon">
                                    <span class=" icon-line-chart"></span>
                                    <div class="number"> 02</div>
                                </div>
                                <div class="content_box">
                                    <h2>
                                        <a href="index.html#" target="_blank" rel="nofollow">ارائه مدرک معتبر</a>
                                    </h2>
                                    <p>
                                        گواهینامه پایان دوره معتبر
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="process_box style_one dark_color">
                            <div class="process_box_outer">
                                <div class="icon">
                                    <span class=" icon-line-chart"></span>
                                    <div class="number"> 03</div>
                                </div>
                                <div class="content_box">
                                    <h2>
                                        <a href="index.html#" target="_blank" rel="nofollow">شهریه مناسب</a>
                                    </h2>
                                    <p>
                                        قیمت مناسب برای دوره ها
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!--===============spacing==============-->
                        <div class="pd_bottom_30"></div>
                        <!--===============spacing==============-->
                    </div>
                    <div class="col-xl-6 col-lg-12">

                        <div class="service_wrapper">
                            <div class="move_image_absolute">
                                <img src="{% static 'assets/images/heder.png' %}" class="class-fluid"
                                     alt="تصویر"/>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <!--===============spacing==============-->
                                <div class="pd_top_100"></div>
                                <div class="pd_top_100 d_md_none"></div>
                                <!--===============spacing==============-->
                                <div class="service_box style_one dark_color last">
                                    <div class="service_content">
                                        <div class="image ">
                                            <img src="{% static 'assets/images/service-illu-1.png' %}"
                                                 class="img-fluid"
                                                 alt="تصویر خدمات"/>
                                        </div>
                                        <div class="content_inner">
                                            <h2>
                                                <a href="index.html#">مشاوره رایگان</a>
                                            </h2>
                                            <p>مشاوره رایگان
                                            </p>
                                            <a href="index.html#" class="read_more"> بیشتر بخوانید </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <!--===============spacing==============-->
    <div class="pd_bottom_80"></div>
    <!--===============spacing==============-->
    </section>
    <!---درباره ما end-->
    <!---service--->
    <section class="service_section bg_light_1" id="service">
        <!--===============spacing==============-->
        <div class="pd_top_80"></div>
        <!--===============spacing==============-->
        <div class="container">
            <div class="row">
                <div class="title_all_box style_one text-center dark_color">
                    <div class="title_sections">
                        <div class="before_title">پیش به سوی پیشرفت !</div>
                        <h2>راه حل های موثر</h2>
                        <p>ما با شرکت شما برای شناسایی موقعیت های مورد نیاز، اجرای استخدام کار می کنیم
                            برنامه ها، و <br> ارزیابی های کارکنان را آغاز می کند که تلاش های استخدام را به
                            حداکثر می رساند </p>
                    </div>
                </div>
                <!--===============spacing==============-->
                <div class="pd_bottom_20"></div>
                <!--===============spacing==============-->
                <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <div class="service_box style_two dark_color">
                        <div class="service_content_two ">
                            <div class="content_inner"
                                 style="background-image:url(assets/images/service/service-image-1.png);">
                                <div class="content_inner_in">
                                    <div class="icon_image">
                                        <img src="{% static 'assets/images/رسالت.png' %}"
                                             class="img-fluid"
                                             alt="تصویر خدمات"/>
                                    </div>
                                    <h2>
                                        <a href="index.html#">رسالت ما</a>
                                    </h2>
                                    <p>این موارد کاملا ساده و آسان برای تشخیص هستند.</p>
                                    <ul>
                                        <li>کاهش افزونگی</li>
                                        <li>کشف منابع پنهان</li>
                                        <li>افزایش چابکی شرکت</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="ovarlay_link">
                                <a href="index.html#">
                                    <i class="icon-right-arrow"></i>
                                </a>
                            </div>
                            <div class="overlay_content">
                                <h2>
                                    <a href="index.html#">رسالت ما</a>
                                </h2>
                                <p>این موارد کاملا ساده و آسان برای تشخیص هستند.</p>
                            </div>
                        </div>
                    </div>
                    <!--===============spacing==============-->
                    <div class="mr_bottom_20"></div>
                    <!--===============spacing==============-->
                </div>
                <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <div class="service_box style_two dark_color">
                        <div class="service_content_two ">
                            <div class="content_inner"
                                 style="background-image:url(assets/images/service/service-image-1.png);">
                                <div class="content_inner_in">
                                    <div class="icon_image">
                                        <img src="{% static 'assets/images/Magic_Book.png' %}"
                                             class="img-fluid"
                                             alt="تصویر خدمات"/>
                                    </div>
                                    <h2>
                                        <a href="index.html#">اساتید</a>
                                    </h2>
                                    <p>این موارد کاملا ساده و آسان برای تشخیص هستند.</p>
                                    <ul>
                                        <li>کاهش افزونگی</li>
                                        <li>کشف منابع پنهان</li>
                                        <li>افزایش چابکی شرکت</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="ovarlay_link">
                                <a href="index.html#">
                                    <i class="icon-right-arrow"></i>
                                </a>
                            </div>
                            <div class="overlay_content">
                                <h2>
                                    <a href="index.html#">اساتید</a>
                                </h2>
                                <p>این موارد کاملا ساده و آسان برای تشخیص هستند.</p>
                            </div>
                        </div>
                    </div>
                    <!--===============spacing==============-->
                    <div class="mr_bottom_20"></div>
                    <!--===============spacing==============-->
                </div>
                <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <div class="service_box style_two dark_color">
                        <div class="service_content_two ">
                            <div class="content_inner"
                                 style="background-image:url(assets/images/service/service-image-3.png);">
                                <div class="content_inner_in">
                                    <div class="icon_image">
                                        <img src="{% static 'assets/images/افتخارات.png' %}"
                                             class="img-fluid"
                                             alt="تصویر خدمات"/>
                                    </div>
                                    <h2>
                                        <a href="index.html#">افتخارات</a>
                                    </h2>
                                    <p>مانع از توانایی ما نیز می شود که هر لذتی را دوست داشته باشیم.</p>
                                    <ul>
                                        <li>
                                            مدیریت اشتغال
                                        </li>
                                        <li>
                                            نرخ حفظ بیشتر
                                        </li>
                                        <li>
                                            نیروی کار کاملا درگیر
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="ovarlay_link">
                                <a href="index.html#">
                                    <i class="icon-right-arrow"></i>
                                </a>
                            </div>
                            <div class="overlay_content">
                                <h2>
                                    <a href="index.html#">افتخارات</a>
                                </h2>
                                <p>مانع از توانایی ما نیز می شود که هر لذتی را دوست داشته باشیم.</p>
                            </div>
                        </div>
                    </div>
                    <!--===============spacing==============-->
                    <div class="mr_bottom_20"></div>
                    <!--===============spacing==============-->
                </div>
            </div>
        </div>
        <!--===============spacing==============-->
        <div class="pd_bottom_70"></div>
        <!--===============spacing==============-->
    </section>
    <!---service end-->
    <!---expertise--->
    {#    <section class="expertise">#}
    {#        <div class="area_of_expertise">#}
    {#            <div class="simpleParallax">#}
    {#                <img src="{% static 'assets/images/areaof-ecp-1.jpg' %}" class="cover-parallax" alt="تصویر">#}
    {#            </div>#}
    {#            <div class="title_and_video">#}
    {#                <div class="auto-container">#}
    {#                    <div class="row">#}
    {#                        <div class="col-lg-4">#}
    {#                            <div class="video_box text-center">#}
    {#                                <a href="https://www.youtube.com/embed/-VK0axfge4A" class="lightbox-image"><i#}
    {#                                        class="icon-play"></i></a>#}
    {#                            </div>#}
    {#                        </div>#}
    {#                        <div class="col-lg-2"></div>#}
    {#                        <div class="col-lg-6">#}
    {#                            <div class="title_all_box style_one text-end">#}
    {#                                <div class="title_sections">#}
    {#                                    <h2>آشنایی با محیط موسسه</h2>#}
    {#                                    <p>آشنایی با محیط کاری,کلاس ها,اساتید و اعضای مجموعه نوین </p>#}
    {#                                </div>#}
    {##}
    {#                            </div>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#            <div class="expertise">#}
    {#                <div class="auto-container">#}
    {#                    <div class="row">#}
    {#                        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 expertise_box">#}
    {#                            <div class="step_number">#}
    {#                                <h1>01.</h1>#}
    {#                            </div>#}
    {#                            <h2 class="title"><a href="index.html#">دستمزد به موقع ما را از دست ندهید</a>#}
    {#                            </h2>#}
    {#                        </div>#}
    {#                        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 expertise_box">#}
    {#                            <div class="step_number">#}
    {#                                <h1>02.</h1>#}
    {#                            </div>#}
    {#                            <h2 class="title">#}
    {#                                <a href="index.html#">پاداش کارکنان</a>#}
    {#                            </h2>#}
    {#                        </div>#}
    {#                        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 expertise_box">#}
    {#                            <div class="step_number">#}
    {#                                <h1>03.</h1>#}
    {#                            </div>#}
    {#                            <h2 class="title">#}
    {#                                <a href="index.html#">مدیریت سود بیزینس</a>#}
    {#                            </h2>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </section>#}
    <!---expertise-end--->
    <!---process--->
    <section class="process" id="process">
        <!--===============spacing==============-->
        <div class="pd_top_80"></div>
        <!--===============spacing==============-->
        <div class="container">
            <div class="row">
                <div class="title_all_box style_one  text-center dark_color">
                    <div class="title_sections">
                        <div class="before_title">
                            مراحل
                        </div>
                        <h2>دعوت به همکاری جهت تدریس</h2>
                    </div>
                    <!--===============spacing==============-->
                    <div class="pd_bottom_30"></div>
                    <!--===============spacing==============-->
                </div>

                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="process_box style_two dark_color">
                        <div class="process_box_outer_two">
                            <div class="number">
                                مرحله 01
                            </div>
                            <div class="content_box clearfix">
                                <div class="icon">
                                    <div class="img">
                                        <img src="{% static 'assets/images/service-ico-3.png' %}"
                                             class="img-fluid svg_image"
                                             alt="icon png"/>
                                    </div>
                                </div>
                                <h2><a href="index.html#" target="_blank" rel="nofollow">عناوین تدریس</a>
                                </h2>
                            </div>
                            <p>عنوان حوضه تدریس</p>
                            <a href="index.html#" target="_blank" rel="nofollow" class="theme-btn two">بیشتر
                                بخوانید</a>
                        </div>
                    </div>
                    <!--===============spacing==============-->
                    <div class="mr_bottom_30"></div>
                    <!--===============spacing==============-->
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="process_box style_two dark_color">
                        <div class="process_box_outer_two">
                            <div class="number">
                                مرحله 02
                            </div>
                            <div class="content_box clearfix">
                                <div class="icon">
                                    <div class="img">
                                        <img src="{% static 'assets/images/process-icon-im-1.png' %}"
                                             class="img-fluid svg_image"
                                             alt="icon png"/>
                                    </div>
                                </div>
                                <h2><a href="index.html#" target="_blank" rel="nofollow">درخواست تدریس</a></h2>
                            </div>
                            <p>ارسال فرم درخواست و رزومه</p>
                            <a href="index.html#" target="_blank" rel="nofollow" class="theme-btn two"> بیشتر
                                بخوانید </a>
                        </div>
                    </div>
                    <!--===============spacing==============-->
                    <div class="mr_bottom_30"></div>
                    <!--===============spacing==============-->
                </div>

            </div>
        </div>
        <!--===============spacing==============-->
        <div class="pd_bottom_60"></div>
        <!--===============spacing==============-->
    </section>
    <!---process-end--->
    <!---team-end--->
    <!---project--->
    <section class="project-carousel" id="projects">
        <!--===============spacing==============-->
        <div class="pd_top_80"></div>
        <!--===============spacing==============-->
        <div class="container">
            <div class="row">
                <div class="title_all_box style_one text-center dark_color">
                    <div class="title_sections">
                        <div class="before_title">آموزش</div>
                        <h2>دوره های آموزشی نوین الکترونیک</h2>
                    </div>
                    <!--===============spacing==============-->
                    <div class="mr_bottom_10"></div>
                    <!--===============spacing==============-->
                </div>
            </div>
        </div>
        <div class="container-fluid">

            <div class="row">
                <div class="col-lg-12">

                    <div class="project_caro_section carousel style_one ">
                        <div class="swiper-container" data-swiper='{
                           "loop": true,
                           "autoplay": {
                             "delay": 5000
                           },
                           "speed": 1000,
                           "centeredSlides": false,
                           "slidesPerView": 4,
                           "spaceBetween": 30,
                           "pagination": {
                             "el": ".swiper-pagination",
                             "clickable": true
                           },
                           "navigation": {
                             "nextEl": ".swiper-button-next",
                             "prevEl": ".swiper-button-prev"
                           },
                           "breakpoints": {
                              "1200": {
                                 "slidesPerView": 4
                                },
                              "1024": {
                               "slidesPerView": 2
                              },
                             "768": {
                               "slidesPerView": 2
                             },
                             "576": {
                               "slidesPerView": 1
                             },
                             "0": {
                              "slidesPerView": 1
                            }
                           }
                         }'>
                            <div class="swiper-wrapper">
                                <!----swiper warapper start---->
                                {% for i in classes %}
                                    <div class="swiper-slide">
                                        <div class="project_post style_one mr_top_20">
                                            <div class="image">
                                                <img src="{{ i.image.url }}"
                                                     class="img-fluid"
                                                     alt="تصویر"/>
                                            </div>
                                            <div class="project_caro_content">
                                                <div class="left_side">
                                                    <p>{{ i.title }}</p>
                                                    <h2 class="title_pro"><a href="">{{ i.description }}</a></h2>
                                                </div>
                                                <div class="right_side">
                                                    <a href="{% url 'academy:team' i.id %}"><i
                                                            class="icon-right-arrow"></i></a>
                                                    <a href="{% url 'academy:team' i.id %}" class="two"><i
                                                            class="icon-right-arrow"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                                <!----swiper warapper end---->
                            </div>
                            <!----swiper-pagination start---->
                            <div class="p_pagination">
                                <div class="swiper-pagination">
                                </div>
                            </div>
                            <!----swiper-pagination end---->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--===============spacing==============-->
        <div class="pd_bottom_90"></div>
        <!--===============spacing==============-->
    </section>
    <!---project-end--->
    <!---testimonial--->
    <section class="testimonial bg_op_1"
             style=" background-image: url({% static 'assets/images/testimonialbg.jpg' %});">
        <div class="row align-items-center">
            <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-12 pd_zero">
                <div class="image">
                    <img src="{% static 'assets/نطرات کارآنوزان.png' %}"
                         class="object-fit-cover img-fluid height_560px"
                         alt="تصویر"/>
                </div>
            </div>
            <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-12 pd_zero">
                <!--===============spacing==============-->
                <div class="pd_top_70"></div>
                <!--===============spacing==============-->
                <div class="testimonial_sec_wrapper pd_left_70">
                    <div class="title_all_box style_one light_color">
                        <div class="title_sections">
                            <div class="before_title">
                                دیدگاه درمورد ما
                            </div>
                            <h2> نظرات کارآموزان</h2>
                        </div>
                        <!--===============spacing==============-->
                        <div class="mr_bottom_20"></div>
                        <!--===============spacing==============-->
                    </div>
                    <div class="testimonial_sec light_color style_one">
                        <div class="icon_quotes">
                            <i class="icon-quote"></i>
                        </div>
                        <div class="swiper-container" data-swiper='{
                              "loop": true,
                              "autoplay": {
                                "delay": 7000
                              },
                              "speed": 1000,
                              "centeredSlides": false,
                              "slidesPerView": 1,
                              "spaceBetween": 30,
                              "navigation": {
                                "nextEl": ".prev-single-one",
                                "prevEl": ".next-single-one"
                              },
                              "pagination": {
                                "el": ".number-pagination",
                                "type": "fraction"
                              },
                              "breakpoints": {
                                "1200": {
                                  "slidesPerView": 1 
                                },
                                "1024": {
                                  "slidesPerView": 1 
                                },
                                "768": {
                                  "slidesPerView": 1 
                                },
                                "576": {
                                  "slidesPerView": 1 
                                }
                              }
                            }'>
                            <div class="swiper-wrapper">
                                {% for i in cus %}
                                    <div class="swiper-slide">
                                        <div class="testimonial_box">
                                            <div class="rating">
                                                <ul>
                                                    <li id="margin-button0"><span
                                                            class="fa fa-star fill"></span><span
                                                            class="fa fa-star fill"></span><span
                                                            class="fa fa-star fill"></span><span
                                                            class="fa fa-star fill"></span><span
                                                            class="fa fa-star empty"></span>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="authour_details  image_yes ">
                                                <div class="image">
                                                    <img src="{% static 'assets/images/heuman.png' %}"
                                                         alt="تصویر"/>
                                                </div>
                                                <div class="details">
                                                    <h2>{{ i.name }}</h2>
                                                </div>
                                            </div>
                                            <div class="comment">{{ i.description }}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}

                            </div>
                            <div class="rightcontent">
                                <div class="arrows">
                                    <div class="prev-single-one"></div>
                                    <div class="next-single-one"></div>
                                </div>
                            </div>

                            <div class="num_pagination">
                                <div class="number-pagination">

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!--===============spacing==============-->
                <div class="pd_bottom_70"></div>
                <!--===============spacing==============-->
            </div>
            <!---empty column--->
            <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-12">
            </div>
            <!---empty column--->
        </div>
    </section>
    <!---testimonial-end--->
    <!---blog--->
    <section class="blog-post" id="blog">
        <!--===============spacing==============-->
    </section>
    <!---blog-end--->
    <!---newsteller--->

{% endblock %}