{% extends 'base.html' %}
{% load static %}
{% block base %}
    <!----header end----->
    <div class="page_header_default style_one">
        <div class="parallax_cover">
            <div class="simpleParallax"><img src="{% static 'assets/images/page-header-default.jpg' %}" alt="bg_image"
                                             class="cover-parallax"></div>
        </div>
        <div class="page_header_content">
            <div class="auto-container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="banner_title_inner">
                            <div class="title_page">
                                وبلاگ
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="breadcrumbs creote">
                            <ul class="breadcrumb m-auto">
                                <li><a href="{% url 'blog:home' %}">خانه</a></li>
                                <li class="active">وبلاگ</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!----header----->
    <!----page-CONTENT----->
    <div id="content" class="site-content ">
        <section class="blog_post_section two_column  style_three">
            <!--===============spacing==============-->
            <div class="pd_top_90"></div>
            <!--===============spacing==============-->
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="grid_show_case grid_layout clearfix">
                            {% for i in blogs %}
                                <div class="news_box style_two grid_box _card has_images">
                                    <div class="content_box">
                                        <div class="overlay"></div>
                                        <img src="{{ i.image.url }}" class="img-fluid"
                                             alt="تصویر">
                                        <div class="category">
                                            <a href="blog-modern.html#" class="categories"><i class="icon-folder"></i>{{ i.title }}</a>
                                        </div>
                                        <div class="content_mid">
                                            <h2 class="title"><a href="{% url 'w:blogd' i.pk%}" rel="bookmark">{{ i.name }}
                                                حساب ها</a></h2>
                                        </div>
                                        <div class="auhtour_box">

                                            <div class="contnet_a">
                                                <p>توسط</p>
                                                <h4>{{ i.writer }}</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <!--===============spacing==============-->
            <div class="pd_top_70"></div>
            <!--===============spacing==============-->

        </section>
        <!---newsteller--->
{% endblock %}