{% extends 'base.html' %}
{% load static %}
{% block base %}         <!----header end----->
    <div class="page_header_default style_one">
        <div class="parallax_cover">
            <div class="simpleParallax"><img src="{% static 'assets/images/page-header-default.jpg' %}" alt="bg_image"
                                             class="cover-parallax"></div>
        </div>
        <div class="page_header_content">
            <div class="auto-container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="banner_title_inner">
                            <div class="title_page">
                                فروشگاه
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="breadcrumbs creote">
                            <ul class="breadcrumb m-auto">
                                <li><a href="{% url 'blog:home' %}">خانه</a></li>
                                <li class="active">فروشگاه</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!----header----->
    <!----page-CONTENT----->
    <div id="content" class="site-content ">

        <main id="main" class="site-main" role="main">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <section class="product_shop_section four_column product_wrapper_grid style_one">
                            <!--===============default spacing==============-->
                            <div class="pd_top_90"></div>
                            <!--===============default spacing==============-->
                            <div class="grid_show_case grid_layout clearfix">
                                {% for i in part %}
                                    <div class="project-wrapper grid_box">
                                        <div class="product_box type_one">
                                            <div class="inner_box">
                                                <div class="image_box">
                                                    <img src="{{ i.image.url }}"
                                                         class="img-fluid"
                                                         alt="تصویر">
                                                </div>
                                                <div class="labels">
                                                </div>
                                                <div class="overlay">
                                                    <ul>
                                                        <li class="upper_box">
                                                            <a href="{% url 'shop:details' i.id %}" class="creote_quick_view_btn">
                                                                <i class="icon-eye"></i>
                                                            </a>
                                                        </li>
                                                        <li class="whish_list_box">
                                                            <div class="yith-wcwl-add-to-wishlist wishlist-fragment on-first-load">
                                                                <!-- افزودن به لیست دلخواه -->
                                                                <!-- COUNT TEXT -->
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="content_box">
                                                <h2><a href="{% url 'shop:details' i.id %}">{{ i.name }}</a>
                                                </h2>
                                                <div class="product_attributes">
                                                </div>
                                                <div class="rating_price">
                                                <span class="price"><span class="woocommerce-Price-amount amount"><bdi><span
                                                        class="woocommerce-Price-currencySymbol"> تومان </span>{{ i.price }}</bdi></span></span>
                                                    <span class="star-rating"><span style="width:0%"><strong
                                                            itemprop="ratingValue"
                                                            class="rating">0</strong> خارج از 5</span></span>
                                                </div>
                                                <div class="cart_btn">
                                                    <a href="{% url 'shop:details' i.id %}"
                                                       class="button wp-element-button product_type_simple add_to_cart_button ajax_add_to_cart">نمایش محصول</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <!--===============default spacing==============-->
                            <div class="pd_bottom_50"></div>
                            <!--===============default spacing==============-->
                        </section>
                    </div>
                </div>
            </div>
        </main>
        <!---newsteller--->
{% endblock %}